@use "../base/functions.scss" as *;
.greeter-container {
    width: 100%;
    background-color: var(--theme-primary);
    color: var(--theme-text);
    position: relative;
    transition: background 0.5s ease, color 0.8s ease;
}

.greeter {
    padding-top: 35vh;
    margin: 0 auto;
    width: calc(100% - 300px);
    padding-bottom: 7em;
    @include tablet-landscape-and-below {
        width: calc(100% - 100px);
        padding-top: 20vh;
    }
    @include mobile-landscape-and-below {
        padding-bottom: 7em;
        padding-top: 7em;
    }
}

.greeter-title {
    font-family: IvyMode;
    font-weight: 400;
    font-style: normal;
    width: 82%;
    font-size: 14.5vh;
    line-height: 1;
    @include tablet-only {
        font-size: 12vw;
        width: 100%;
    }
    @include tablet-portrait-only {
        font-size: 11vw;
        width: 100%;
    }
    @include mobile-landscape-and-below {
        font-size: 10vw;
        width: 100%;
        line-height: 1.2;
    }
    @include mobile-only {}
    & .row {
        overflow: hidden;
        & span {
            display: inline-block;
            white-space: nowrap;
            height: 16.32vh;
            @include tablet-landscape-and-below {
                height: 14vw;
            }
            @include mobile-landscape-and-below {
                height: auto;
            }
        }
    }
}

.greeter-subtitle {
    padding: 2em 0 2em 5em;
    font-family: IvyMode;
    font-weight: 400;
    font-style: normal;
    font-size: 6.7vh;
}

.nav-title {
    position: absolute;
    top: 0;
    right: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet-portrait-only {
        right: 0;
    }
    @include mobile-landscape-and-below {
        position: fixed;
        z-index: 1700;
        right: 0;
        transform: translateX(-10%);
        width: calc(100% - 100px);
        justify-content: space-between;
    }
    @include mobile-only {
        height: 100px;
    }
    & li {
        margin-right: 3em;
        font-family: WorkSansLight;
        font-size: 1.6rem;
        @include mobile-landscape-and-below {
            font-size: 1.2rem;
            margin-right: 0;
        }
    }
}

.nav-title a {
    color: var(--theme-text);
    line-height: 1.2em;
    margin-bottom: 0.5em;
    @include mobile-landscape-and-below {
        mix-blend-mode: difference;
    }
}