@font-face {
    font-family: "WorkSans";
    src: url("/fonts/WorkSans/WorkSans-Regular.woff2")format("woff2");
}

@font-face {
    font-family: "WorkSansBold";
    src: url("/fonts/WorkSans/WorkSans-Bold.woff2")format("woff2");
}

@font-face {
    font-family: "WorkSansSemiBold";
    src: url("/fonts/WorkSans/WorkSans-SemiBold.woff2")format("woff2");
}

@font-face {
    font-family: "WorkSansMedium";
    src: url("/fonts/WorkSans/WorkSans-Medium.woff");
}

@font-face {
    font-family: "WorkSansLight";
    src: url("/fonts/WorkSans/WorkSans-Light.woff")format("woff");
}

@font-face {
    font-family: "IvyMode";
    src: url("/fonts/IvyMode/IvyMode-Regular.ttf");
}